###############################################################################
# GIT
###############################################################################
.git
.gitignore

###############################################################################
# ENV
###############################################################################
.env
.env.*

###############################################################################
# BACKEND (DJANGO)
###############################################################################
__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
db.sqlite3-journal

media/
staticfiles/

venv/
.venv/
env/

.pytest_cache/
.coverage
htmlcov/

###############################################################################
# FRONTEND (FLUTTER)
###############################################################################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

###############################################################################
# ANDROID / IOS
###############################################################################
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/

###############################################################################
# IDE
###############################################################################
.vscode/
.idea/

###############################################################################
# OS
###############################################################################
.DS_Store
Thumbs.db

###############################################################################
# LOGS / TEMP
###############################################################################
*.log
*.tmp
*~